<div class="progress"></div>
<div class="masthead">
  <div class="container">
    <h3 class="masthead-title serif">
      <a href="{{ '/' | relative_url }}">
        {% include avatar/avatar.svg %}
      </a>
      <small>{{ site.tagline }}</small>
    </h3>
    <ul class="masthead-social">
      {% for item in site.social %}
        {% if item.inactive != true %}
        <li>
          <a href="{{ item.url }}" target="_blank">
            {% include icons/{{ item.id }}.svg %}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% if site.themes == 'lite' %}
      {% include switch-lite.html %}
    {% else %}
      {% include switch.html %}
    {% endif %}
  </div>
</div>
