<div class="progress"></div>
<div class="masthead">
  <div class="container">
    <h3 class="masthead-title serif">
      <a href="{{ '/' | relative_url }}">
        {% include avatar/animatable.svg %}
      </a>
      <small>{{ site.tagline }}</small>
    </h3>
    <ul class="masthead-links">
      {% for item in site.links %}
      {% if item.inactive != true %}
      <li>
        {% if item.internal %}
        <a href="{{ item.url | relative_url }}" title="{{ item.title }}">
        {% else %}
        <a href="{{ item.url }}" title="{{ item.title }}" target="_blank">
        {% endif %}
          {% include icons/{{ item.icon }}.svg %}
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% if site.themes == 'lite' %}
      {% include switch-lite.html %}
    {% else %}
      {% include switch.html %}
    {% endif %}
  </div>
</div>
