<label class="theme-switch-lite" for="theme-switch-toggle">
  <input type="checkbox" id="theme-switch-toggle" />
  <div class="theme-switch-slider"></div>
</label>

<script>
((win, doc, undef) => {
  const toggle = doc.getElementById('theme-switch-toggle')
  toggle.checked = doc.documentElement.dataset.theme === 'dark'

  toggle.addEventListener('change', (e) => {
    const selectedTheme = e.target.checked ? 'dark' : 'light'
    localStorage.setItem('theme-value-lite', selectedTheme)
    doc.documentElement.dataset.theme = selectedTheme
  }, false)

  const mql = win.matchMedia('(prefers-color-scheme: dark)')
  mql.addEventListener('change', (e) => {
    const storedTheme = localStorage.getItem('theme-value-lite')
    const systemTheme = e.matches ? 'dark' : 'light'
    if (!storedTheme) {
      doc.documentElement.dataset.theme = systemTheme
      toggle.checked = e.matches
    }
  }, false)
})(window, document)
</script>
