<label class="theme-switch" for="theme-switch-select">
  <input type="checkbox" id="theme-switch-select" />
  <div class="theme-switch-icon theme-switch-icon-auto">{% include icons/auto.svg %}</div>
  <div class="theme-switch-icon theme-switch-icon-light">{% include icons/light.svg %}</div>
  <div class="theme-switch-icon theme-switch-icon-dark">{% include icons/dark.svg %}</div>
  <ul class="theme-switch-dropdown">
    <li class="theme-switch-option" data-option="auto">
      {% include icons/auto.svg %}
      <span>Auto</span>
    </li>
    <li class="theme-switch-option" data-option="light">
      {% include icons/light.svg %}
      <span>Light</span>
    </li>
    <li class="theme-switch-option" data-option="dark">
      {% include icons/dark.svg %}
      <span>Dark</span>
    </li>
  </ul>
</label>

<script>
((win, doc, undef) => {
  const storedTheme = localStorage.getItem('theme-value')
  const themeSelect = doc.getElementById('theme-switch-select')
  const themeOptions = doc.querySelectorAll('.theme-switch-option')
  const mql = win.matchMedia('(prefers-color-scheme: dark)')
  const bindSwitchAction = (el) => {
    el.addEventListener('click', (e) => {
      const option = el.dataset.option
      themeSelect.dataset.active = option
      if (option === 'auto') {
        localStorage.removeItem('theme-value')
        doc.documentElement.dataset.theme = mql.matches ? 'dark' : 'light'
      } else {
        localStorage.setItem('theme-value', option)
        doc.documentElement.dataset.theme = option
      }
    }, false)
  }

  themeSelect.dataset.active = storedTheme || 'auto'
  themeOptions.forEach(bindSwitchAction)
  mql.addEventListener('change', (e) => {
    const systemTheme = e.matches ? 'dark' : 'light'
    if (themeSelect.dataset.active === 'auto') {
      doc.documentElement.dataset.theme = systemTheme
    }
  }, false)
})(window, document)
</script>
