<script>
void function (win, doc, undef) {
  var body = doc.querySelector('.body')
  var toc = doc.createElement('div')
  toc.className = 'toc'

  var title = doc.createElement('span')
  title.className = 'toc-title'
  title.textContent = 'TOC'
  title.addEventListener('click', function (e) {
    toc.classList.toggle('toc-collapse')
  }, false)

  var anchors = doc.createElement('div')
  anchors.className = 'toc-anchors'
  body.querySelectorAll('h1, h2, h3, h4, h5, h6').forEach(function (heading) {
    var anchor = doc.createElement('a')
    anchor.href = '#' + heading.id
    anchor.className = 'toc-anchor'
    anchor.textContent = heading.textContent
    anchor.dataset.level = heading.tagName.slice(1)
    anchors.appendChild(anchor)
  })

  toc.appendChild(title)
  toc.appendChild(anchors)
  body.parentNode.insertBefore(toc, body.previousElementSibling)

  var back = doc.createElement('div')
  back.className = 'toc-back'
  back.addEventListener('click', function (e) {
    title.scrollIntoView({ behavior: 'smooth' })
  }, false)
  doc.body.appendChild(back)
}(window, document)
</script>
