<div class="progress"></div>
<div class="masthead">
  <div class="container">
    <h3 class="masthead-title serif">
      <a href="{{ '/' | relative_url }}">
        {% include avatar/avatar.svg %}
      </a>
      <small>{{ site.tagline }}</small>
    </h3>
    <ul class="masthead-social">
      {% for item in site.social %}
      <li>
        <a href="{{ item.url }}" target="_blank">
          {% include icons/{{ item.id }}.svg %}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% include switch.html %}
  </div>
</div>
