/*
 * Color Palettes
 *
 * Light and dark theme.
 */

// [data-theme="light"]
:root {
  --text-primary: #515151;
  --text-emphasise: #313131;
  --text-dim: #777;
  --text-dimmest: #aaa;
  --text-link: #268bd2;
  --text-code: #d01040;
  --color-primary: #f8f8f8;
  --color-sharp: #fff;
  --color-dim: #eee;
  --color-dimmer: #e5e5e5;
  --color-dimmest: #c0c0c0;
  --color-median: #717171;
  --color-heavy: #202020;
  --color-shadow: #e0e0e0;
  --color-transparent: rgb(255, 255, 255, 0);
}

[data-theme="dark"] {
  --text-primary: #cccdd9;
  --text-emphasise: #f0f0f0;
  --text-dim: #bbb;
  --text-dimmest: #999;
  --text-link: #57adeb;
  --text-code: #f17393;
  --color-primary: #121212;
  --color-sharp: #000;
  --color-dim: #252525;
  --color-dimmer: #3f3f3f;
  --color-dimmest: #666;
  --color-median: #aaa;
  --color-heavy: #e0e0e0;
  --color-shadow: #000;
  --color-transparent: rgb(255, 255, 255, 0);
}


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Prevent scroll on narrow devices */
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Corbel, Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Bitstream Vera Sans, Liberation Sans, Verdana, Verdana Ref, sans-serif;
  font-size: 16px;
  line-height: 1.66;
  scroll-behavior: smooth;
}
@media (min-width: 38em) {
  html {
    font-size: 19px;
  }
}

body {
  color: var(--text-primary);
  background-color: var(--color-primary);
  text-size-adjust: 100%;
  transition: background-color ease-out .3s, color ease-out .3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: var(--text-emphasise);
  letter-spacing: -.025rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  transition: color ease-out .3s;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4,
h5,
h6 {
  font-size: 1rem;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: var(--text-link);
  text-decoration: none;
  transition: color ease-out .3s;
}
a strong {
  color: inherit;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: var(--text-emphasise);
  transition: color ease-out .3s;
}

/* Lists */
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid var(--color-dim);
  border-bottom: 1px solid var(--color-sharp);
  transition: border ease-out .3s;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: var(--text-emphasise);
  text-transform: uppercase;
  transition: color ease-out .3s;
}
abbr[title] {
  cursor: help;
}

/* Code */
code,
pre {
  font-family: Menlo, Consolas, Monaco, Courier New, Courier, monospace;
}
code {
  padding: .1em .4em;
  font-size: 85%;
  color: var(--text-code);
  background-color: var(--color-dim);
  border: 1px solid var(--color-dimmer);
  border-radius: 3px;
  transition: background-color ease-out .3s, color ease-out .3s, border ease-out .3s;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: .75em 1.1em;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  background-color: var(--color-dim);
  border: 1px solid var(--color-dimmer);
  border-radius: .3em;
  transition: background-color ease-out .3s, border ease-out .3s;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: var(--color-transparent);
  border: 0 none;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: var(--text-dim);
  background-color: var(--color-dim);
  border-left: .25rem solid var(--color-dimmer);
  transition: background-color ease-out .3s, color ease-out .3s, border ease-out .3s;
}
blockquote p:last-child {
  margin-bottom: 0;
}
cite {
  display: block;
  text-align: right;
}
cite:before {
  content: '—';
  margin-right: .4em;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 2rem;
    padding-left: 1.25rem;
  }
}
img,
video {
  display: block;
  max-width: 100%;
  margin: 1rem auto;
  border-radius: .35em;
}
img {
  padding: .3em;
  background-color: var(--color-dim);
  border: 1px solid var(--color-dimmest);
  transition: background-color ease-out .3s, border ease-out .3s;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid var(--color-dimmer);
  border-collapse: collapse;
  transition: border ease-out .3s;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid var(--color-dimmer);
  transition: border ease-out .3s;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: var(--color-dim);
  transition: background-color ease-out .3s;
}


/*
 * Theme Switch
 *
 * Toggle light, dark and auto theme.
 */

.theme-switch {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 .5em;
  position: relative;
  user-select: none;
  -webkit-tap-highlight-color: var(--color-transparent);
  &-icon {
    cursor: pointer;
    opacity: 0;
    transition: opacity ease-out .3s;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    svg {
      transition: fill ease-out .3s;
    }
  }
  &-dropdown {
    background-color: var(--color-dim);
    box-shadow: 0 0 5px 0 var(--color-shadow);
    border: 1px solid var(--color-shadow);
    border-radius: .4rem;
    display: none;
    list-style: none;
    width: 6rem;
    margin: 0;
    padding: .4rem 0;
    position: absolute;
    right: 0;
    top: 1.8rem;
    transition: background-color ease-out .3s, box-shadow ease-out .3s, border ease-out .3s;
  }
  &-option {
    margin: 0;
    padding: .3rem .75rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    span {
      margin-left: .7rem;
      color: var(--color-dimmest);
      transition: color ease-out .3s;
    }
  }
  svg {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--color-dimmest);
    transition: fill ease-out .3s;
    &:hover {
      fill: var(--color-median);
    }
  }
}

@supports not (color-scheme: dark) {
  .theme-switch {
    display: none;
  }
}

#theme-switch-select {
  display: none;
  &[data-active="auto"] ~ .theme-switch-icon-auto,
  &[data-active="light"] ~ .theme-switch-icon-light,
  &[data-active="dark"] ~ .theme-switch-icon-dark {
    opacity: 1;
    z-index: 5;
  }
  &:checked ~ .theme-switch-dropdown {
    display: block;
  }
}

@media (hover: hover) {
  .theme-switch-option:hover {
    background-color: var(--color-dimmer);
    svg {
      fill: var(--color-median);
    }
    span {
      color: var(--color-median);
    }
  }
}


/*
 * Theme Switch Lite
 *
 * Toggle light and dark theme.
 */

.theme-switch-lite {
  display: inline-block;
  margin-left: 1rem;
  margin-right: .5rem;
  user-select: none;
  -webkit-tap-highlight-color: var(--color-transparent);
}

@supports not (color-scheme: dark) {
  .theme-switch-lite {
    display: none;
  }
}

.theme-switch-slider {
  display: flex;
  align-items: center;
  background-color: var(--color-dimmest);
  border-radius: 12px;
  width: 48px;
  height: 24px;
  padding: 4px;
  cursor: pointer;
  transition: background-color ease-out .3s;
  &:before {
    content: '';
    background-color: var(--color-primary);
    border-radius: 8px;
    width: 16px;
    height: 16px;
    transition: background-color ease-out .3s, transform ease-out .3s;
  }
}

#theme-switch-toggle {
  display: none;
  &:checked + .theme-switch-slider:before {
    transform: translateX(24px);
  }
}

.home {
  .theme-switch,
  .theme-switch-lite {
    position: fixed;
    top: 1.25rem;
    right: 2rem;
  }
}

@media (hover: hover) {
  .theme-switch-slider:hover {
    background-color: var(--color-median);
  }
}

@media (max-width: 38em) {
  .theme-switch,
  .theme-switch-lite {
    margin-left: .5rem;
    margin-right: 0;
  }
  .theme-switch-slider {
    width: 32px;
    height: 18px;
    padding: 3px;
    &:before {
      width: 12px;
      height: 12px;
    }
  }
  #theme-switch-toggle:checked + .theme-switch-slider:before {
    transform: translateX(14px);
  }
}


/*
 * Wrapper
 *
 * The wrapper is used to position site content when the sidebar is toggled. We
 * use an outter wrap to position the sidebar without interferring with the
 * regular page content.
 */

.wrap {
  width: 100%;
}


/*
 * Container
 *
 * Center the page content.
 */

.container {
  max-width: 28rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}
@media (min-width: 44em) {
  .container {
    max-width: 32rem;
  }
}
@media (min-width: 58em) {
  .container {
    max-width: 44rem;
  }
}
@media (min-width: 74em) {
  .container {
    max-width: 58rem;
  }
}


/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  padding-top: .8rem;
  padding-bottom: .8rem;
  border-bottom: 1px solid var(--color-dim);
  background-color: var(--color-primary);
  transition: background-color ease-out .3s, border ease-out .3s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  svg {
    display: block;
    width: 40px;
    height: 40px;
  }
  .eyeball {
    animation: spin both linear 7;
    animation-timeline: scroll(root);
  }
  small {
    font-family: Menlo, Consolas, Monaco, Courier New, Courier, monospace;
    font-weight: 400;
    color: var(--text-dimmest);
    letter-spacing: 0;
    padding-left: 1em;
    transition: color ease-out .3s;
  }
}
@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}
.progress {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  transform-origin: 0 50%;
  animation: scaleProgress auto linear forwards, colorChange auto linear forwards;
  animation-timeline: scroll(root);
}
@keyframes scaleProgress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes colorChange {
  0% {
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: lime;
  }
}

.home-social,
.masthead-social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    display: block;
  }
  svg {
    fill: var(--color-dimmest);
    transition: fill ease-out .3s;
    &:hover {
      fill: var(--color-median);
    }
  }
}

.masthead-social {
  li {
    margin: 0 .5em;
  }
  a,
  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

@media (max-width: 48em) {
  .masthead {
    padding-top: .6rem;
    padding-bottom: .6rem;
    &-title {
      svg {
        width: 32px;
        height: 32px;
      }
      small {
        font-size: 75%;
      }
    }
    &-social li {
      margin: 0 .36em;
    }
  }
  .progress {
    height: 2px;
  }
}


/*
 * Home and 404
 */

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90vw;
  overflow: hidden;
  &-avatar {
    margin-top: 1rem;
    margin-bottom: 2.4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    svg {
      display: block;
      width: 320px;
      height: 320px;
    }
  }
  pre {
    font-size: .85em;
    margin: 0;
    padding: 0.7em 1.2em;
    border-radius: 7px;
  }
  hr {
    width: 90vw;
    max-width: 50rem;
  }
  &-social {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      margin: .75rem;
    }
    a,
    svg {
      display: block;
      width: 2.25rem;
      height: 2.25rem;
    }
  }
}

@media (max-width: 44em) {
  .home-avatar svg {
    height: 256px;
    width: 256px;
  }
}
@media (max-width: 38em) {
  .home-avatar svg {
    height: 192px;
    width: 192px;
  }
}



.page-404 {
  margin-top: 7em;
}
.content {
  padding-top: 5rem;
}


 /*
 * Posts and Pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page,
.post {
  margin-bottom: 1.5em;
}

.page:after,
.post:after {
  content: '— EOF —';
  color: var(--text-dimmest);
  display: block;
  margin-top: 1.5em;
  text-align: center;
  transition: color ease-out .3s;
}

.loop-list {
  list-style: none;
}

.post-tag {
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  font-size: .6rem;
  padding: .2rem .3rem;
  vertical-align: middle;
  white-space: nowrap;

  &-red {
    background-color: #fef0f0;
    border: 1px solid #fde2e2;
    color: #f56c6c;
  }

  &-yellow {
    background-color: #fdf6ec;
    border: 1px solid #faecd8;
    color: #e6a23c;
  }

  &-green {
    background-color: #f0f9eb;
    border: 1px solid #e1f3d8;
    color: #67c23a;
  }

  &-blue {
    background-color: #ecf5ff;
    border: 1px solid #d9ecff;
    color: #409eff;
  }
  &-gray {
    background-color: #f4f4f5;
    border: 1px solid #e9e9eb;
    color: #909399;
  }
}

/* Blog post or page title */
.page-title,
.post-title {
  color: var(--text-emphasise);
  margin-top: 0;
  transition: color ease-out .3s;
}

/* Meta data line below post title */
.post-date {
  display: inline-block;
  font-size: .9em;
  color: var(--text-dim);
  transition: color ease-out .3s;
}

.highlighter-rouge {
  margin-bottom: 1rem;
}


/*
 * Fly to the Top
 */

#fly {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 50;
  width: 48px;
  height: 48px;
  display: block;
  overflow: hidden;
  outline: none;
  text-decoration: none;
  pointer-events: none;
  user-select: none;
  transition: opacity ease .5s;
  opacity: 0;
  &.visible {
    pointer-events: all;
    opacity: 0.36;
    &:hover {
      opacity: .85;
    }
  }
  circle {
    fill: var(--color-heavy);
    transition: fill ease-out .3s;
  }
  path {
    fill: var(--color-primary);
    transition: fill ease-out .3s;
  }
}
@media (max-width: 38em) {
  #fly {
    width: 32px;
    height: 32px;
  }
}
@media print {
  #fly {
    display: none;
  }
}


/*
 * Custom Type
 *
 * Extend paragraphs with `.lead` for larger introductory text.
 */

.serif {
  font-family: Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
