<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta name="theme-color" content="#0c0c0c">
  <title>Easter</title>
  <style>
    html, body {
      background: #0c0c0c;
      font-family: monospace;
      font-size: 1.2rem;
      line-height: 1.2;
      text-align: center;
      margin: 30px 0;
      user-select: none;
    }
    .c-ffffff { color: #ffffff; }
    .c-ffaf00 { color: #ffaf00; }
    .c-ffd700 { color: #ffd700; }
    .c-1c1c1c { color: #1c1c1c; }
    .c-ff5f5f { color: #ff5f5f; }
  </style>
</head>
<body>
  <!-- https://meatfighter.com/ascii-silhouettify/ -->
  <pre>                                                            
  <span class="c-ffd700">                     __~gg@@@@@@@@@ga__                     
                  _~@@@@@@@@@@@@@@@@@@@@@@@@a_                
               _@@@B===0@@@@@@@@@@@@@@@@@@@@@@@@_             
            ,g@@P</span><span class="c-ffffff">_@@@@@@@p</span><span class="c-ffd700">&quot;@@@@@@@@@@@@@@@@@@@@@@@@_          
          </span><span class="c-ffaf00">,</span><span class="c-ffd700">j@@@</span><span class="c-ffffff">,@@@@@@@@@@@L</span><span class="c-ffd700">@@@@@@@@@@@@@@@@@@@@@@@@@_        
        </span><span class="c-ffaf00">,@</span><span class="c-ffd700">/@@@|</span><span class="c-ffffff">@@@@@@@@@@@@@ </span><span class="c-ffd700">@@@@@@@@@@P&quot;</span><span class="c-ffffff">_op_</span><span class="c-ffd700">&quot;4@@@@@@@@,      
       </span><span class="c-ffaf00">_@</span><span class="c-ffd700">,@@@@|</span><span class="c-ffffff">/</span><span class="c-1c1c1c">@@@g</span><span class="c-ffffff">t@@@@@@@ </span><span class="c-ffd700">@@@@@@@@/</span><span class="c-ffffff">g@@@@@P</span><span class="c-1c1c1c">_gp</span><span class="c-ffd700">&apos;@@@@@@@a     
      </span><span class="c-ffaf00">g@F</span><span class="c-ffd700">@@@@@@</span><span class="c-1c1c1c">&apos;@@@@</span><span class="c-ffffff">,@@@@@@F</span><span class="c-ffd700">@@@@@@@@&apos;</span><span class="c-ffffff">@@@@@@@</span><span class="c-1c1c1c">@@@@@</span><span class="c-ffffff">,</span><span class="c-ffd700">@@@@@@@@    
     </span><span class="c-ffaf00">g@@</span><span class="c-ffd700">;@@@@@@@_</span><span class="c-ffffff">-_g@@@@@W</span><span class="c-ffd700">_@@@@@@@@@</span><span class="c-ffffff">[@@@@@@@a</span><span class="c-1c1c1c">&quot;B&gt;</span><span class="c-ffffff">_g</span><span class="c-ffd700">@@@@@@@@@   
    </span><span class="c-ffaf00">A@@@</span><span class="c-ffd700">[@@@@@@@@@@g_</span><span class="c-ffffff">&quot;</span><span class="c-ffd700">_g@@@@@@@@@@@@</span><span class="c-ffffff">!@@@@@@@@@@@@/</span><span class="c-ffd700">@@@@@@@@@@  
   </span><span class="c-ffaf00">,@@@@</span><span class="c-ffd700">@@@@@@@@@@@@@@@@@@@@@@@@@@@@g</span><span class="c-ffffff">\@@@@@@@@@@P</span><span class="c-ffd700">g@@@@@@@@@@l 
   </span><span class="c-ffaf00">@@@@@</span><span class="c-ffd700">@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@p</span><span class="c-ffffff">&quot;B@@@@B&quot;</span><span class="c-ffd700">o@@@@@@@@@@@@@ 
   </span><span class="c-ffaf00">@@@@@</span><span class="c-ffd700">9@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,
  </span><span class="c-ffaf00">!@@@@@</span><span class="c-ffd700">!@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@|
  </span><span class="c-ffaf00">[@@@@@1</span><span class="c-ffd700">@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@h
  </span><span class="c-ffaf00">|@@@@@@</span><span class="c-ffd700">&apos;@@@@@=4@@@@@@@@@@@@@@@@@@@@@@@@@@@@@D=8@@@@@@@@@@@@]
   </span><span class="c-ffaf00">@@@@@@@</span><span class="c-ffd700">V@@g</span><span class="c-1c1c1c">A@@;</span><span class="c-ffd700">@@@@@@@@@@@@@@@@@@@@@@@@@@@&apos;</span><span class="c-1c1c1c">@@@</span><span class="c-ffd700">[@@@@@@@@@@@ 
   </span><span class="c-ffaf00">@@@@@@@@</span><span class="c-ffd700">%@@,</span><span class="c-1c1c1c">@@@_</span><span class="c-ffd700">@@@@@@@@@@@@@@@@@@@@@@@@@/</span><span class="c-1c1c1c">@@@F</span><span class="c-ffd700">@@@@@@@@@@@@ 
   </span><span class="c-ffaf00">&apos;@@@@@@@@</span><span class="c-ffd700">T@@</span><span class="c-1c1c1c">&apos;@@@g</span><span class="c-ffd700">&quot;@@@@@@@@@@@@@@@@@@@@@P</span><span class="c-1c1c1c">_@@@F</span><span class="c-ffd700">g@@@@@@@@@@@? 
    </span><span class="c-ffaf00">0@@@@@@@@</span><span class="c-ffd700">&apos;@@g</span><span class="c-1c1c1c">&lt;@@@@g</span><span class="c-ffd700">&quot;*B@@@@@@@@@@@BP&quot;</span><span class="c-1c1c1c">_@@@@D</span><span class="c-ffd700">_@@@@@@@@@@@@@  
     </span><span class="c-ffaf00">Q@@@@@@@@g</span><span class="c-ffd700">\@@g_</span><span class="c-1c1c1c">4@@@@@@@@ggggg@@@@@@@@B&quot;</span><span class="c-ff5f5f">ob</span><span class="c-ffd700">f@@@@@@@@@@@@   
      </span><span class="c-ffaf00">Q@@@@@@@@@g</span><span class="c-ffd700">&lt;@@@@g_</span><span class="c-1c1c1c">&quot;=B@@@@@@@@@BP&gt;</span><span class="c-ff5f5f">_g@@@@@@</span><span class="c-ffd700">T@@@@@@@@@@    
       </span><span class="c-ffaf00">\@@@@@@@@@@g</span><span class="c-ffd700">&quot;B@@@@@@@@@@@@@@a</span><span class="c-ff5f5f">%@@@@@@@@@@@</span><span class="c-ffd700">@@@@@@@P</span><span class="c-ffaf00">.     
        `@@@@@@@@@@@@g</span><span class="c-ffd700">&quot;B@@@@@@@@@@@@g</span><span class="c-ff5f5f">V@@@@@@@@@?</span><span class="c-ffd700">@@@@P</span><span class="c-ffaf00">_@&apos;      
          &quot;@@@@@@@@@@@@@@g</span><span class="c-ffd700">&quot;+B@@@@@@@@@</span><span class="c-ff5f5f">&apos;@@@@@@D</span><span class="c-ffd700">_B&gt;</span><span class="c-ffaf00">_g@@F        
            &apos;B@@@@@@@@@@@@@@@@@g~_</span><span class="c-ffd700">&quot;&quot;&quot;&quot;&quot;&quot;</span><span class="c-ffaf00">___~g@@@@@@&quot;          
               &quot;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@P             
                  &quot;+@@@@@@@@@@@@@@@@@@@@@@@@P&quot;                
                       &apos;&quot;4B@@@@@@@@@@BP&quot;&quot;                     
  </span></pre>
</body>
</html>
