<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrap home">
      {% include switch.html %}
      <a class="home-avatar" href="{{ site.herolink | relative_url }}">
        {% include avatar/avatar-animation.svg %}
      </a>
      {% highlight javascript %}{{ site.typeof }}{% endhighlight %}
      <hr>
      <ul class="home-social">
        {% for item in site.issues %}
        <li>
          <a href="{{ item.link | relative_url }}" title="{{ item.descripton }}">
            {% include icons/{{ item.icon }}.svg %}
          </a>
        </li>
        {% endfor %}
        {% for item in site.social %}
        {% if item.inactive != true %}
        <li>
          <a href="{{ item.url }}" title="{{ item.descripton }}" target="_blank">
            {% include icons/{{ item.id }}.svg %}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    <script>
      ((win, doc, loc, undef) => {
        const hl = doc.querySelector('.highlight')
        const jump = () => {
          hl.dataset.click = ''
          if (hl.dataset.dblclick === 'on') {
            hl.dataset.dblclick = ''
            loc.href = '/splash.html'
          } else {
            loc.href = '/easter.html'
          }
        }
        hl.addEventListener('click', (e) => {
          e.preventDefault()
          e.stopPropagation()
          if (hl.dataset.click !== 'on') {
            setTimeout(jump, 300)
          }
          hl.dataset.click = 'on'
        }, false)
        hl.addEventListener('dblclick', (e) => {
          e.preventDefault()
          e.stopPropagation()
          hl.dataset.dblclick = 'on'
        }, false)
      })(window, document, location)
    </script>
  </body>
</html>
