<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrap home">
      <a class="avatar" href="{{ site.herolink | relative_url }}">
        <img src="{{ site.avatar.anim | relative_url }}" />
      </a>
      <pre>{{ site.typeof }} {{ site.tagline }}</pre>
      <hr>
      <ul class="home-social">
        {% for item in site.social %}
        <li>
          <a href="{{ item[1] }}" target="_blank">
            <i class="fontello icon-{{ item[0] }}"></i>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!--
    {% include theme.html %}
    -->
  </body>
</html>
